<!DOCTYPE html>
<html lang="en" ng-app="ToDo" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="style/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD1679A9-CE15-2F4F-BDB0-B8FF6744F9B4/main.js" charset="UTF-8"></script><script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body ng-controller='listPersonCtrl'>
  <form>
    <div class="container-fluid">
      <div class="row form-group">
        <div class="col-3 text-right">
          ФИО
        </div>
        <div class="col-6">
          <input type="text" class="form-control" placeholder="Введите ФИО" ng-model="name" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-3 text-right">
          Номер телефона
        </div>
        <div class="col-6">
          <input type="text" class="form-control" placeholder="Введите телефон" ng-model="phone" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-3 text-right">
          e-mail
        </div>
        <div class="col-6">
          <input type="email" class="form-control" placeholder="name@example.com" ng-model="email" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-3 ">
        </div>
        <div class="col-6">

          <button type="button" class="btn btn-warning" ng-click="onAddNewPerson()"
            ng-hide="currentPersonId > -1">Добавить</button>
          <button type="button" class="btn btn-primary" ng-click="onSavePerson()"
            ng-show="currentPersonId > -1">Сохранить</button>

        </div>
      </div>
    </div>
  </form>
  <table-person-list></table-person-list>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="clientList.controller.js"></script>
  <script src="clientList.directive.js"></script>
  <script src="core/version/version.js"></script>
  <script src="core/version/version-directive.js"></script>
  <script src="core/version/interpolate-filter.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>